---
layout: default
---
    
{% for post in site.posts limit:1 %}
    <aside id="featured" class="body"><article>
        <figure>
        <img src="{{ post.logo }}" alt="{{ post.title }}" />
        </figure>
        <hgroup>
            <h2>Featured Product</h2>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </hgroup>
        {{ post.content }}
        </article>
        </aside><!-- /#featured -->
{% endfor %}
   

<section id="content" class="body">
<ol id="posts-list" class="hfeed">

{% for post in site.posts limit:15 offset:1 %}
<li>
<article class="hentry">
<header>
<h2 class="entry-title"><a href="{{ post.url }}" rel="bookmark" title="Permalink to this {{ post.title }}">{{ post.title }}</a></h2>
</header>
<footer class="post-info">
<abbr class="published" title="{{post.date | date: "%b %d %Y at %X"}}"><!-- YYYYMMDDThh:mm:ss+ZZZZ -->
{{post.date | date: "%b %d %Y at %X"}}
</abbr>
<address class="vcard author">
By <a class="url fn" href="#">Harper Reed</a>
</address>
</footer>
<div class="entry-content">
{{ post.content }}
</div>
</article>
</li>
{% endfor %}

</ol>
</section>
